# Active-hdl generated folders
**/compile/
**/bin/
**/log/

# Active-hdl working files
*.p_w
*.bak
*.log
library.cfg

# Simulation results
*.asdb
*.awf

# generated FPGA files
design0/*.mgf
design0/*.cfg
design0/*.order
design0/*.LIB
design0/*.adf
design0/*.wsp

# OS junk
.DS_Store
Thumbs.db
